{% set aptly = salt['grains.filter_by']({
    'default': {
     'use_aptly_repo': True,
      'install_packages': True,
      'create_user': True,
      'secure': True,
			'homedir': "/srv/pkgrepo",
      'gpg_command': 'gpgv1',
      'gpg_keyring': 'trustedkeys.gpg',
			'default_distribution': 'stretch',
      'user': {
        'uid': 0,
        'gid': 0,
      },
    },
    'Debian': {
      'pkgs': ['aptly', 'bzip2', 'gnupg1', 'gpgv1'],
    },
}, merge=salt['pillar.get']('aptly:lookup'), base='default') %}
